boto3
altair
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fonttools
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
openpyxl
package-name
packaging
pandas
parso
pdfkit
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
python-git
pytz
pyzmq
referencing
reportlab
requests
rich
rpds-py
Send2Trash
six
smmap
soupsieve
stack-data
streamlit
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
XlsxWriter
zipp
